<ng-content select="header"></ng-content>

<!-- <h2 appHighlight> {{ user.firstName  }} {{ user.lastName }}</!-->
<h2> {{ user.firstName | uppercase  }} {{ user.lastName | uppercase}}</h2>

<p [ngStyle] = "{'color' : 'blue', 'font-size' : '1.1em'}" *ngIf="user.isWorking; else ElseTemplate">
  Income : <span [innerText]="user.income | currency : 'EUR'"></span></p>

<!-- <ng-template [ngIf] = "user.isWorking">
  <p>
    Income : <span [innerText]="user.income"></span>
  </p>
</ng-template> -->

<!-- <p [ngClass] = "['myborder', 'feature']"> Date of Birth : {{ user.dob }}</p> -->

<button class="btn btn-primary btn-sm" (click)="onToggle()">
  Toggle Class</button>
<p [ngClass]="dynamicClasses"> Date of Birth : {{ user.dob | date : 'MMM/dd/yyyy'}}</p>




<p>Total Votes : {{ user.votes | number }}
  <br>
  <input type="number" [value]="user.votes" (change)="user.votes = $event.target.value" />

  <input type="number" [(ngModel)]="user.votes" />
</p>

<!-- <ng-content select = ".contents"></ng-content>
<ng-content select="footer"></ng-content> -->

<ng-template #ElseTemplate>
  <p>{{ user.firstName }} is not working now!</p>
</ng-template>


<!-- <div [ngSwitch] = "user.firstName">
  <div *ngSwitchCase = "'Steve'">Jobs</div>
  <div *ngSwitchCase = "'Bill'">Gates</div>
  <div *ngSwitchCase = "'Tim B.'">Lee</div>
  <div *ngSwitchDefault>Default</div>
</div> -->
