<h3>Counter : {{ counter }}</h3>
<br>

<div class="btn-toolbar">
  <div class="btn-group">
    <button class="btn btn-outline-success btn-lg" (click)="onIncrement()">
      +
    </button>
    <button class="btn btn-outline-danger btn-lg"
    (click)="onDecrement()">
      -
    </button>
    <br>
  </div>
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn btn-outline-success btn-lg"
        (click)="onAdd(5)">
        +5
      </button>
      <button class="btn btn-outline-danger btn-lg" (click)="onSubstract(5)">
        -5
      </button>
    </div>
  </div>
</div>
