<div class="container">

  <!-- {{ users | json }} -->


  <!-- <h3>Counter in Users : {{ dataService.counter }}</h3>
  <button class="btn btn-default"
    (click)= "onIncrease()">Increase</button> -->

  <p class="text-primary text-center display-4">{{ title }} </p>
  <div class="card"  appBetterHighlight [mycolor] = "'lightgrey'"
    *ngFor="let user of users; index as i; first as isFirst; even as isEven;">
    <div class="card-body" >
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <!-- Index : {{ i }} <br>
          Is this First ? {{ isFirst }} <br>
          Is this Even ? {{ isEven }} -->
          <app-user-img [user]="user" (childEvent)="onMoreInfo($event)"></app-user-img>
        </div>
        <div class="col-sm-8 col-md-8">
          <app-user-info [user]="user">
            <!-- <header>Header Info</header>
            <main class="contents">Main Contents</main>
            <footer>Footer Info</footer> -->
          </app-user-info>
        </div>
      </div>
    </div>
  </div>
</div>
