<h3>
  Promise : {{ promise | async}} <br>
  PromiseData : {{ promiseData | async}} <br>
  Contact Number : {{ contact_number | nationalcode }}
</h3>
<br>
<hr>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6">
        <select [(ngModel)] = "filteredStatus" class="form-control">
          <option value="completed">Completed</option>
          <option value="pending">Pending</option>
        </select>
    </div>
    <div class="col-sm-6 col-md-6">
      <button class="btn btn-outline-primary"
        (click) = "onAddNewTodo()">
        Add New Todo
      </button>
    </div>
  </div>
  <br>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let todo of todos | filter : filteredStatus">
      <p> {{ todo.label }}
        <span class="badge badge-primary float-right">
          {{ todo.status }} </span>
      </p>
    </li>
  </ul>
</div>F
