<div class="container">
  <app-header></app-header>

  <br>
  <p class="display-2 text-center">The Awesome Users App</p>
   <!-- <app-new-employee></app-new-employee> -->

  <!-- <a (click) = "" >Click Me</a> -->

  <p [innerHTML] = "showAlert">Showing here Script tag</p>
  <p>{{ 3 + 3}}</p>
   <br>
   <app-counter></app-counter>
  <hr>
  <router-outlet></router-outlet>

</div>



















<!-- Title : {{ title }}
<input type="text" [(ngModel)] = "title" /> -->

<!-- <button class="btn btn-danger"
  (click) = "showUsers = !showUsers">Toggle the Users</button> -->

<!-- <h3>Counter in App : {{ dataService.counter }}</!-->
<!-- <button class="btn btn-default" (click)="onIncrease()">Increase</!-->



<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-pipe-demo></app-pipe-demo> -->

<!-- <app-login></app-login> -->

<!-- <app-register></app-register> -->

<!-- <app-users [title]="title" *ngIf="authService.isAuthenticated()"></app-users> -->
